button {
  font-family: $font-family-light;
  font-size: $font-size-btn;
  background: transparent;
  border: 2px solid $black;
  color: $black;
  text-transform: uppercase;
  padding: $font-size (1.5 * $font-size);

  &:hover {
    background: $black;
    color: $white;
  }

  &.btn--white {
    border: 2px solid $white;
    color: $white;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}
