.visit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;

  @media (min-width: 768px) {
    padding: 75px;

    .tel {
      text-decoration: none;
      color: $body-color;
    }
  }
}

.hero-img {
  width: 100%;
}

.welcome {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;

  img {
    max-width: 300px;
    max-height: 200px;
    margin: 26.56px 0;
  }

  div {
    max-width: 450px;
  }

  button {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    padding: 75px;
  }
}

.menu {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/menu-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
  text-align: center;

  h2 {
    color: $white;
  }
}